$geotab-blue-dark: #043263;
$geotab-blue-primary: #0076ce;
$geotab-gray-light: #f4f4f4;
$geotab-gray-medium: #666666;
$geotab-white: #ffffff;
$geotab-text: #333333;

:root {
  --geotab-blue-dark: #043263;
  --geotab-blue-primary: #0076ce;
  --geotab-gray-light: #f4f4f4;
  --geotab-gray-medium: #666666;
}
