#Google Credential
GOOGLE_GENAI_API_KEY=API_KEY_GOOGLE_MAPS_VALUE

# Geotab Credentials
GEOTAB_USERNAME=GEOTAB_USER
GEOTAB_PASSWORD=GEOTAB_PASSWORD
GEOTAB_DATABASE=GEOTAB_DATABASE
GEOTAB_SERVER=GEOTAB_SERVER

#SmarterAI
SMARTERIA_TENANT_ID=SMARTERIA_TENANT_ID